.header .navbar-brand {
	padding-top:5px;
}
.logout-msg h3 {
	text-align:center;
	margin:0px 0px 10px 0px;
}
.logout-msg h1 {
	text-align:center;
	margin:0px;
}
.logout-msg p {
	text-align:center;
}
.my-table_btn {
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdfdfd 0%, #e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdfdfd 0%, #e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fdfdfd 0%, #e6e6e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e6e6e6', GradientType=0 ); /* IE6-9 */
	border:1px solid #dddddd;
}
.my-table_btn:hover {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%, #f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%, #f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%, #f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%, #f3f3f3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3', GradientType=0 ); /* IE6-9*/
	border:1px solid #dddddd;
}
.progress-bar{ height:50% !important;}
.close{ background:none !important; height:16px !important; width:16px !important;}
.modal-header .close {
    margin-top: -5px !important;
}
.index-top{ margin:0px 0px 15px 0px !important;}
.label, .badge{font-weight: 400 !important;}
.page-content .page-breadcrumb.breadcrumb{overflow: auto;}
.footer-inner > a {
    color: #ffffff;
}
.footer-inner {
    color: #D5D5D5 !important;
}
.c1{float: left;}
.c2{
    float: left;
	
}
.c3{
    clear: both;
    float: left;
    margin-left: 45px;
	
}
.expand{font-weight: bold !important;}
.wizard-step.mws-form-inline{padding:0px 35px !important;}

