
/* Added by SRK: Datable Status based Row Modification */
/* Modified by Narasimharaju vegesna: Datable Status based Row Modification */
table tr.deactivateRow
{
	color:darkgreen;
	text-decoration:none;
}

table tr.deactivateRow td a
{
		text-decoration:none;
		display:none;
	
}

table tr.deactivateRejectedRow
{
	background-color:#707070;
	color: #AAAAAA;
	text-decoration:none;
}

table tr.deactivateRejectedRow td a
{
		text-decoration:none;
		display:none;
	
}

table tr td a{
	text-decoration: none;
}