@import url(http://fonts.googleapis.com/css?family=Lato:300);

hr{
   border: 1px solid #FFFFFF;
}

th{
	background-color:#FFFFFF;
 	font-weight:bold;
}

td{
	background-color:#ecf7fe;
 	text-align:center;
}
#legenddiv {
    left: -13px;
    position: relative;
    top: -42px;
}